
@{
    ViewBag.Title = "Employee";
}

<div class="page-header">
    <h2>Employees</h2>
    <div class="pull-right page-header-control">
        @Html.ActionLink("Create New Employee", "create", null, new { @class = "btn btn-default" })
    </div>
</div>

@Html.Partial("ShowNotification", "EducationalBackground")

<div class="row">
    <div class="col-sm-12">
        <table id="employee-table" class="display" cellspacing="0" style="width: 100%;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Position</th>
                    <th>Contact #</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@Styles.Render("~/Content/jquery.dataTables.css")

@section Scripts{    
    @Scripts.Render("~/Scripts/jquery.dataTables.min.js")
    
    <script type="text/template" id="grid-btn">
        <button type='button' class='btn btn-default btn-sm' aria-label='Profile'><span class='glyphicon glyphicon-user' aria-hidden='true'></span> Profile</button>&nbsp;
        <button type='button' class='btn btn-default btn-sm' aria-label='Edit'><span class='glyphicon glyphicon-edit' aria-hidden='true'></span> Edit</button>
    </script>

    <script type="text/javascript">
        // using ajax, server processing, for future reference
        @*$(document).ready(function () {
            var table = $('#example').DataTable({
                ordering: false,
                processing: true,
                serverSide: true,
                ajax: '@Url.Action("query")',
                columns: [
                    { data: "Name" }, // <-- which values to use inside object
                    {
                        targets: -1,
                        data: null,
                        defaultContent: "<button type='button' class='btn btn-default' aria-label='Edit'><span class='glyphicon glyphicon-edit' aria-hidden='true'></span></button>&nbsp;<button type='button' class='btn btn-danger' aria-label='Delete'><span class='glyphicon glyphicon-trash' aria-hidden='true'></span></button>"
                    }
                ]
            });

            $('#example tbody').on('click', 'button', function () {
                var data = table.row($(this).parents('tr')).data();
                console.log(data);
            });

            $('.dataTables_filter input')
                .unbind('keypress keyup')
                .bind('keypress keyup', function (e) {
                    // wait for user to hit 'Enter'
                    if (e.keyCode != 13) {
                        return;
                    } 
                    table.draw();
                });
        });*@

        $(document).ready(function () {
            var editUrl = '@Url.Action("edit")';
            var profileUrl = '@Url.Action("profile")';
            var table = $("#employee-table").DataTable({
                ajax: '@Url.Action("query")',
                columns: [
                    { data: "Name" },
                    { data: "Department" },
                    { data: "Position" },
                    { data: "ContactNumber" },
                    {
                        targets: -1,
                        data: null,
                        defaultContent: $("#grid-btn").html()
                    }
                ]
            });

            $('#employee-table tbody').on('click', 'button', function () {
                var data = table.row($(this).parents('tr')).data();
                var label = $(this).attr('aria-label');
                if (label == "Profile") {
                    window.location.href = profileUrl + "/" + data.Id;
                } else {
                    window.location.href = editUrl + "/" + data.Id;
                }
            });
        });
    </script>
}
