@model HRMS.Web.Models.EmployeeDtl
@{
    ViewBag.Title = "Profile";
}

<input type="hidden" value="@Model.Id" id="emp-id" />

<div class="page-header-profile">
    <h2>Profile <small>@Model.ProfileName</small></h2>
</div>

<div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="emp-tab">
        <li role="presentation" class="active"><a href="#basic-info" aria-controls="basic-info" role="tab" data-toggle="tab">Basic Info</a></li>
        <li role="presentation"><a href="#edu-background" aria-controls="edu-background" role="tab" data-toggle="tab">Educational Background</a></li>
        <li role="presentation"><a href="#emp-history" aria-controls="emp-history" role="tab" data-toggle="tab">Employment History</a></li>
        @*<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>*@
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Basic Info -->
        <div role="tabpanel" class="tab-pane fade in active" id="basic-info">
            <div class="tab-content">
                @Html.Partial("ShowNotification", "Employee")

                <div class="form-horizontal">
                    <!--Basic Information-->
                    <div class="panel panel-default form-controls">
                        <div class="panel-heading">
                            <h4 class="panel-title">Personal Information</h4>
                        </div>

                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.LastName, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.LastName)
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.FirstName)
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.MiddleName, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.MiddleName)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.Extension, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.Extension)
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.BirthDate, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.BirthDate, new { type = "date", Value = Model.BirthDate.ToString("yyyy-MM-dd") })
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.Religion, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.Religion)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.Gender, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.Gender)
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.CivilStatus, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.CivilStatus)
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.BloodType, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.BloodType)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.ContactNumber, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.ContactNumber)
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.CurrentAddress, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.CurrentAddress)
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.PermanentAddress, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.PermanentAddress)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Employee Information-->
                    <div class="panel panel-default form-controls">
                        <div class="panel-heading">
                            <h4 class="panel-title">Employee Information</h4>
                        </div>

                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.ProfileDepartment, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.ProfileDepartment)
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.ProfilePosition, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.ProfilePosition)
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.HiringDate, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.HiringDate)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.EmployeeIdNumber, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.EmployeeIdNumber)
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.RegularizationDate, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.RegularizationDate)
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.EndDate, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.EndDate)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.SSS, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.SSS)
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.TIN, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.TIN)
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.Pagibig, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.Pagibig)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.PhilHealth, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.PhilHealth)
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.PRCLicenseNumber, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.PRCLicenseNumber)
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.BasicPay, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.BasicPay)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Contact Person-->
                    <div class="panel panel-default form-controls">
                        <div class="panel-heading">
                            <h4 class="panel-title">Contact Person</h4>
                        </div>

                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.ContactPerson, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.ContactPerson)
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.ContactPersonNumber, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.ContactPersonNumber)
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.ContactPersonRelation, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.ContactPersonRelation)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        @Html.LabelFor(model => model.ContactPersonAddress, new { @class = "control-label" })
                                        <div>
                                            @Html.DisplayFor(model => model.ContactPersonAddress)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Requirements-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Requirements</h4>
                        </div>

                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(model => model.TOR, new { disabled = "disabled" }) @Html.LabelFor(model => model.TOR)
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(model => model.Resume, new { disabled = "disabled" }) @Html.LabelFor(model => model.Resume)
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(model => model.GoodMoralCert, new { disabled = "disabled" }) @Html.LabelFor(model => model.GoodMoralCert)
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(model => model.Diploma, new { disabled = "disabled" }) @Html.LabelFor(model => model.Diploma)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(model => model.BirthCert, new { disabled = "disabled" }) @Html.LabelFor(model => model.BirthCert)
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(model => model.MarriageCert, new { disabled = "disabled" }) @Html.LabelFor(model => model.MarriageCert)
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(model => model.BaptismalCert, new { disabled = "disabled" }) @Html.LabelFor(model => model.BaptismalCert)
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(model => model.PoliceClearance, new { disabled = "disabled" }) @Html.LabelFor(model => model.PoliceClearance)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(model => model.NBIClearance, new { disabled = "disabled" }) @Html.LabelFor(model => model.NBIClearance)
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(model => model.BrgyClearance, new { disabled = "disabled" }) @Html.LabelFor(model => model.BrgyClearance)
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(model => model.LicensureCert, new { disabled = "disabled" }) @Html.LabelFor(model => model.LicensureCert)
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(model => model.Urinalysis, new { disabled = "disabled" }) @Html.LabelFor(model => model.Urinalysis)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">

                                    <div class="col-sm-3">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(model => model.DentalExam, new { disabled = "disabled" }) @Html.LabelFor(model => model.DentalExam)
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(model => model.ChestXRay, new { disabled = "disabled" }) @Html.LabelFor(model => model.ChestXRay)
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(model => model.CBC, new { disabled = "disabled" }) @Html.LabelFor(model => model.CBC)
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(model => model.Fecalysis, new { disabled = "disabled" }) @Html.LabelFor(model => model.Fecalysis)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="pull-right">
                                <a class="btn btn-default" href="@Url.Action("edit", new { id = Model.Id })">Edit Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Educational Background -->
        <div role="tabpanel" class="tab-pane fade" id="edu-background">
            <div class="tab-content" id="edu-container">
                @Html.Partial("ShowNotification", "EducationalBackground")

                <div id="edu-throbber" class="throbber" style="display: none;"></div>
                
                <ul class="list-group edu-content" id="edu-list">
                </ul>

                <div class="row edu-content">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#edu-create">Create New Background</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Employment History -->
        <div role="tabpanel" class="tab-pane fade" id="emp-history">
            <div class="tab-content" id="emp-container">
                @Html.Partial("ShowNotification", "EmploymentHistory")

                <div id="emp-throbber" class="throbber" style="display:none;"></div>

                <ul class="list-group emp-content" id="emp-list">

                </ul>

                <div class="row emp-content">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#emp-create">Create New History</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div role="tabpanel" class="tab-pane fade" id="settings">...</div>*@
    </div>


    <!-- Educational Background Modal -->
    <div class="modal fade" id="edu-create" tabindex="-1" role="dialog" aria-labelledby="edu-create-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create New Educational Background</h4>
                </div>
                <div class="modal-body">
                    @Html.Action("create", "educationalbackground", new { empId = Model.Id })
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btn-edu-close">Close</button>
                    <button type="button" class="btn btn-primary" id="btn-edu-create">Create Educational Background</button>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("delete", "educationalbackground", FormMethod.Post, new { id = "edu-form-delete" })) {  @Html.AntiForgeryToken() }

    <!-- Employment History Modal -->
    <div class="modal fade" id="emp-create" tabindex="-1" role="dialog" aria-labelledby="emp-create-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create New Employment History</h4>
                </div>
                <div class="modal-body">
                    @Html.Action("create", "employmenthistory", new { empId = Model.Id })
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btn-emp-close">Close</button>
                    <button type="button" class="btn btn-primary" id="btn-emp-create">Create Employment History</button>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("delete", "employmenthistory", FormMethod.Post, new { id = "emp-form-delete" })) {  @Html.AntiForgeryToken() }
</div>

@section Scripts {
    @Styles.Render("~/Content/noty-animate.css")    
    @Scripts.Render(
        "~/bundles/jqueryval",
        "~/bundles/noty")

    <script type="text/template" id="edu-template">
        <li class="list-group-item-dcg">
            <a href="#" class="edu-delete" data-id="{{Id}}" data-name="{{Name}}" style="color: black"><span class="pull-right glyphicon glyphicon-trash"></span></a>
            <h4 class="list-group-item-heading">{{Name}} <small>({{Type}})</small></h4>
            <p class="list-group-item-text">{{Degree}}</p>
            <p class="list-group-item-text">{{Address}}</p>
            <p class="list-group-item-text">{{ContactNum}}</p>
            <p class="list-group-item-text">{{YearAttended}}</p>
        </li>
    </script>

    <script type="text/template" id="emp-template">
        <li class="list-group-item-dcg">
            <a href="#" class="emp-delete" data-id="{{Id}}" data-name="{{Employer}}" style="color: black"><span class="pull-right glyphicon glyphicon-trash"></span></a>
            <h4 class="list-group-item-heading">{{Employer}} <small>({{Position}})</small></h4>
            <p class="list-group-item-text">{{Address}}</p>
            <p class="list-group-item-text">{{YearsOfServiceDisplay}}</p>
        </li>
    </script>

    <script type="text/javascript">

        $(document).ready(function () {
            // activate specifc tab via hash in url
            if (location.hash) {
                $('#emp-tab a[href="' + location.hash + '"]').tab('show');
            }

            
            var id = $("#emp-id").val();

            // education background
            // populate
            populateEducationalBackground(id);

            // modal controls
            var eduForm = $("#edu-form");
            $("#btn-edu-create").click(function () {
                if (eduForm.valid()) {
                    eduForm.submit();
                }
            });

            var eduFormJs = document.getElementById("edu-form");
            $("#btn-edu-close").click(function () {
                eduFormJs.reset();
            });
            // end educational background

            // employment history
            // populate
            populateEmploymentHistory(id);

            var empForm = $("#emp-form");
            $("#btn-emp-create").click(function () {
                if (empForm.valid()) {
                    empForm.submit();
                }
            });

            var empFormJs = document.getElementById("emp-form");
            $("#btn-emp-close").click(function () {
                empFormJs.reset();
            });
            // end employment history
        });

        // educational background delete 
        $("#edu-list").on("click", ".edu-delete", function () {
            var item = $(this);
            var itemId = item.data("id");
            var name = item.data("name");

            showConfirm("You are about to delete '" + name + "' from the list, Proceed?", function () {
                var eduFormDel = $("#edu-form-delete");
                var action = eduFormDel.attr("action");
                action = action + "/" + itemId;
                eduFormDel.attr("action", action);
                eduFormDel.submit();
            });
        });

        // employment history delete
        $("#emp-list").on("click", ".emp-delete", function () {
            var item = $(this);
            var itemId = item.data("id");
            var name = item.data("name");

            showConfirm("You are about to delete '" + name + "' from the list, Proceed?", function () {
                var eduFormDel = $("#emp-form-delete");
                var action = eduFormDel.attr("action");
                action = action + "/" + itemId;
                eduFormDel.attr("action", action);
                eduFormDel.submit();
            });
        });


        function populateEducationalBackground(id) {
            var container = $("#edu-container");
            var content = $(".edu-content");
            var throbber = $("#edu-throbber");
            container.addClass("overlay");
            content.hide();
            throbber.show();
            
            $.get('@Url.Action("getbyemployee", "educationalbackground")' + '/' + id, function (data) {
                var list = $("#edu-list");

                if (data && data.length > 0) {
                    var template = $("#edu-template").html();

                    $.each(data, function (i, v) {
                        var item = template
                            .replace("{{Id}}", v.Id)
                            .replace("{{Name}}", v.Name)
                            .replace("{{Name}}", v.Name)
                            .replace("{{Type}}", v.TypeDisplay)
                            .replace("{{Degree}}", v.Degree == null ? "" : v.Degree)
                            .replace("{{Address}}", v.Address == null ? "" : v.Address)
                            .replace("{{ContactNum}}", v.ContactNumber == null ? "" : "Contact no. " + v.ContactNumber)
                            .replace("{{YearAttended}}", v.YearAttended);

                        list.append(item);
                    });
                } else {
                    list.append("<center>No data yet.</center>");
                }

                container.removeClass("overlay");
                throbber.hide();
                content.show();
            });
        }

        function populateEmploymentHistory(id) {
            var container = $("#emp-container");
            var content = $(".emp-content");
            var throbber = $("#emp-throbber");
            container.addClass("overlay");
            content.hide();
            throbber.show();

            $.get('@Url.Action("getbyemployee", "employmenthistory")' + '/' + id, function (data) {
                var list = $("#emp-list");

                if (data && data.length > 0) {
                    var template = $("#emp-template").html();

                    $.each(data, function (i, v) {
                        var item = template
                            .replace("{{Id}}", v.Id)
                            .replace("{{Employer}}", v.Employer)
                            .replace("{{Employer}}", v.Employer)
                            .replace("{{YearsOfServiceDisplay}}", v.YearsOfServiceDisplay)
                            .replace("{{Position}}", v.Position)
                            .replace("{{Address}}", v.Address == null ? "" : v.Address)

                        list.append(item);
                    });
                } else {
                    list.append("<center>No data yet.</center>");
                }

                container.removeClass("overlay");
                throbber.hide();
                content.show();
            });
        }
    </script>
}

